.nav-class{
    background-color: tomato;
    height: 70px;
}

.nav-link-color{
    color: white;
}

.nav-link-color title{
    color: white;
}

.nav-link-color:hover{
    color: aqua;
}

.nav-img img{
    border-radius: 20px;
    height: 60px;
    width: 120px;
}