.our-single-expert{
    border: 8px solid rgb(241, 241, 241); 
    border-radius: 10px;
    padding-bottom: 10px;
    text-align: center;
    background-color: darkgreen;
    color: yellow;
    margin-right: 20px;
    
}

.our-single-expert img{
    
   
    height: 400px;
    border-radius: 20%;
    margin: 20px;
}


.all-expert-class{
    display: flex;
    justify-content: center;
    align-items: center;
}


.host-button{
    color: white;
    background-color: Red;
    border: 0 solid;
    height: 50px;
    margin: 20px;
    border-radius: 5px;
}

.host-button:hover{
    color: rgb(162, 246, 255);
    background-color: rgb(144, 0, 0);
    border: 5px solid rgb(255, 255, 92);
    height: 50px;
    margin: 20px;
    border-radius: 20px;
    
}

