.login-head{
    color: purple;
}

.form-class-login{
    text-align: left;
}

.signup-toggle{
    color: purple;
    cursor: pointer;
    font-weight: 700;
}

.signup-btn{
    background-color: purple;
    border: 0;
}

.signup-btn:hover{
    background-color: rgb(255, 0, 0);
    border: 0;
}

.signup-btn:disabled{
    background-color: purple;
}