.products-header{
    text-align: center;
    color: tomato;
}

.products-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 22px;
}

.products-container img {
    width: 100%;
}

.manage-all-button{
    background-color: purple;
    border: none;
}

.manage-all-button:hover{
    background-color: rgb(255, 0, 0);
    border: none;
}

/* responsive code */
@media only screen and (max-width: 575px) {
    .products-container{
        grid-template-columns: repeat(1, 1fr);
    }
}

@media only screen and (min-width: 575px) and (max-width: 992px){
    .products-container{
        grid-template-columns: repeat(2, 1fr);
    }
}